<nav>
    <h1><a routerLink="/">ECOMM</a></h1>
    <div *ngIf="menuType==='default'" class="divinputbutton">
        <input class="inputstyle" (keyup)="searchProduct($event)" #searchinput (blur)="hideSearch()" type="text"
            placeholder="Search For Products">
        <button (click)="submitSearch(searchinput.value)">Search</button>
        <ul class="suggestedResult">
            <li *ngFor="let item of searchResult">
                <a (mousedown)="redirectTo(item.id)">{{item.productname}}</a>
            </li>
        </ul>
    </div>
    <div [ngSwitch]="menuType" class="divlist">
        <ul *ngSwitchCase="'default'" class="ulstyle">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="seller-auth">Seller</a></li>
            <li><a routerLink="user-auth">Login/SignUp</a></li>
            <li><a herf="#">Cart(0)</a></li>
        </ul>
        <ul *ngSwitchCase="'user'" class="ulstyle">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="seller-auth">Seller</a></li>
            <li><a routerLink="user-auth">{{userName}}</a></li>
            <li><a routerLink="user-auth">Logout</a></li>
            <li><a herf="#">Cart(0)</a></li>
        </ul>
        <ul *ngSwitchCase="'seller'" class="ulstyle">
            <li><a routerLink="seller-home">Product List</a></li>
            <li><a routerLink="seller-add-product">Add Product</a></li>
            <li><a (click)="logout()">Logout</a></li>
            <li><a herf="#">{{sellerName}}</a></li>
        </ul>
    </div>
</nav>