.error-p {
    color: red;
}




h1 {
    color: blueviolet;
    margin-top: 51px;
    margin-bottom: 33px;
}

.atoggleloginsignup {
    color: blueviolet;
    margin-top: 16px;
    text-align: left;
    cursor: pointer;
    font-size: 20px;
}